<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toolkit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Viewpost"></activity>
        <activity android:name=".RemoveUser" />
        <activity android:name=".RemovePost" />
        <activity android:name=".Message" />
        <activity android:name=".RecieveMessage" />
        <activity android:name=".Singlemessage" />
        <activity android:name=".Singlepost" />
        <activity android:name=".AddTool" />
        <activity android:name=".Adminlogin" />
        <activity android:name=".Addadmin" />
        <activity android:name=".Editpost" />
        <activity android:name=".Postadd" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".Myprofile" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Admin" />
        <activity android:name=".ListofPost" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>